<div class="splash">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <br />
          <h1>
            Every Mile Creates A Smile
          </h1>
          <h2>
            Donate Airline-miles so refugees
            <br/>
            can fly home &amp see their families
            <br/>
            Tweet us @App_Smile
            <br />
            <br />

            <div class="row">
               <p><%= link_to "Donor Sign Up", new_donor_registration_path, class: "btn btn-success btn-lg" %>
              <%= link_to "Amnest Sign Up", new_amnest_registration_path, class: "btn btn-primary btn-lg" %></p>

            </div>

           
          </h2>
          <br />
          <br />
        </div>
        <div class="col-md-4">
          <%= image_tag '' %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Step 1: Verify Miles </h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#"> Calculate S'MILEs &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Step 2: Matching System </h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#"> S'MILE Now &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2>Step 3: Confirm Flight </h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#"> S'MILE Flight &raquo;</a></p>
    </div>
  </div>
  
</div> <!-- /container -->       
