<div class="match_container">
	<h1> Login Below </h1>
	<%= link_to "Donor Login", new_donor_session_path, class: "btn btn-success btn-lg" %> 
	<%= link_to "Amnest Login", new_amnest_session_path, class: "btn btn-primary btn-lg" %>
</div>