<div class="match_container">	
	<h1>Are you a Donor or Amnest? </h1>
	<p> Our unique matching system finds the best fit for both people</p>
	
	<div class="row">

    <div class="col-lg-6">
      <h2>Donor</h2>
      <br />
        <p class="col-lg-3">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo
        </p>
      <br />
      <p><%= link_to "Donor Sign Up", new_donor_registration_path, class: "btn btn-success btn-lg" %> </p>
    </div>
    <div class="col-lg-6">
      <h2>Amnest</h2>
      <br />
        <p class="col-lg-3">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo
        </p>
      <br />
      <p><%= link_to "Amnest Sign Up", new_amnest_registration_path, class: "btn btn-primary btn-lg" %></p>
    </div>

 	</div>
	
</div>

